*
!.gitignore
!/README.md

!/quickshell/
!/quickshell/**

!/illogical-impulse/
!/illogical-impulse/**

!/hypr/
!/hypr/**

!/fish/
!/fish/**

!/kitty/
!/kitty/**

!/foot/
!/foot/**

!/wlogout/
!/wlogout/**

!/scripts/
!/scripts/**

!/starship.toml

# Ignore local installation logs/markers
/illogical-impulse/installed_listfile
/illogical-impulse/installed_true
